Repository no-waste-app/no-waste, pull requests merged in 2021-03, with the labels that each got.

#21 Add polish language and the possibility of changing the language in gui
  ui/src/App.css
  ui/src/App.tsx
  ui/src/i18n/LanguageSwitcher.tsx
  ui/src/i18n/config.ts
  ui/src/i18n/de/translation.json
  ui/src/i18n/en/translation.json
  ui/src/i18n/pl/translation.json
Labels: UI

#22 Backend improvements
  .github/workflows/python-app.yml
  backend/README.md
  backend/__init__.py
  backend/api/__init__.py
  backend/api/product/__init__.py
  backend/api/product/models.py
  backend/api/product/view.py
  backend/api/recipe/__init__.py
  backend/api/recipe/models.py
  backend/api/recipe/view.py
  backend/app.py
  backend/config/config.py
  backend/core/__init__.py
  backend/core/config.py
  backend/core/db.py
  backend/dev-requirements.in
  backend/dev-requirements.txt
  backend/no_waste.py
  backend/requirements.in
  backend/requirements.txt
  nowastecrawler/nowastecrawler/inserting_to_mongo.py
  nowastecrawler/nowastecrawler/items.py
  nowastecrawler/nowastecrawler/middlewares.py
  nowastecrawler/nowastecrawler/pipelines.py
  nowastecrawler/nowastecrawler/settings.py
  nowastecrawler/nowastecrawler/spiders/recipecrawler.py
Labels: backend

#27 added limit, offset, short and product filter to api
  backend/.env
  backend/api/product/models.py
  backend/api/product/view.py
  backend/api/recipe/models.py
  backend/api/recipe/view.py
  backend/app.py
  backend/core/config.py
  backend/no_waste.py
  nowastecrawler/ingredients_dict.json
  nowastecrawler/nowastecrawler/inserting_to_mongo.py
  nowastecrawler/nowastecrawler/spiders/recipecrawler.py
  nowastecrawler/recipes.json
Labels: backend

#28 Switch to flask backend
  .github/workflows/deploy.yml
  backend/Dockerfile
  backend/api/product/view.py
  backend/api/recipe/models.py
  backend/api/recipe/view.py
  backend/app.py
  backend/core/config.py
  backend/k8s/deployment.yaml
  backend/requirements.in
  backend/requirements.txt
  skaffold.yaml
  ui/package.json
  ui/src/App.tsx
  ui/src/CompleteProducts.test.tsx
  ui/src/CompleteProducts.tsx
  ui/src/Recipes.tsx
  ui/src/api/nowaste.ts
  ui/src/mocks/handlers.ts
  ui/src/models.ts
  ui/yarn.lock
Labels: DevOps, UI, backend

#30 Update UI dependencies
  ui/package.json
  ui/src/mocks/handlers.ts
  ui/yarn.lock
Labels: UI, dependencies
